[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
omg-micro = ">=0.2.2"
rfc3986 = "*"

[requires]
python_version = "3.7"
